<table style="border: 2px solid;width: 100%;text-align: center;align-items: center;">
  <tr>
    <td style="border: 2px solid;">
      <p class="btn btn-secondary" style="width: 100%;">Exposure</p>
      Current : {{ current_exp}}
      Max : {{max_exposure}} 
      Min : {{min_exposure}}
      <form method="POST" action="" id="exposure" name="exposure">
          <input type="text" name="text_exposure" id="text_exposure" />
          <input type="submit" value="Change" />
      </form>
    </td>

    <td style="border: 2px solid;">
      <p class="btn btn-secondary" style="width: 100%;">Gain</p>
      Current : {{ current_g}}
      Max : {{max_g}} 
      Min : {{min_g}}
      <form method="POST" action="" id="gain" name="gain">
          <input type="text" name="text_gain" id="text_gain" />
          <input type="submit" value="Change" />
      </form>
    </td> 
  </tr>

  <tr>
    <td style="border: 2px solid;">
      <p class="btn btn-secondary" style="width: 100%;">BlackLevel</p>
      Current : {{ current_b}}
      Max : {{max_b}} 
      Min : {{min_b}}
      <form method="POST" action="" id="blacklevel" name="blacklevel">
          <input type="text" name="text_blacklevel" id="text_blacklevel" />
          <input type="submit" value="Change" />
      </form>
    </td>
    <td style="border: 2px solid;">
      <p class="btn btn-secondary" style="width: 100%;">Gamma</p>
      Current : {{ current_gamma}}
      Max : {{max_gamma}} 
      Min : {{min_gamma}}
      <form method="POST" action="" id="gamma" name="gamma">
          <input type="text" name="text_gamma" id="text_gamma" />
          <input type="submit" value="Change" />
      </form>
    </td>
  </tr>
</table>


<!-- -----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------- -->
<!----------Camera----------->
<script>
  $(document).ready(function () {
    $("#exposure").submit(function (event) {
  
      var text_exposure = $("#text_exposure").val();
      $.ajax({
        type: "POST",
        url: "/exposure",
        data: {text_exposure:text_exposure},
        dataType: "json",
        encode: true,
      }).done(function (data) {
        $("#camera_image_and_setup").html(data.message_cam);
        $("#camera_setups").html(data.message_set);
        console.log(data);
      });
  
      event.preventDefault();
    });
  
  //------------------------------------------
    $("#gamma").submit(function (event) {
      
      var text_gamma = $("#text_gamma").val();
      $.ajax({
        type: "POST",
        url: "/gamma",
        data: {text_gamma:text_gamma},
        dataType: "json",
        encode: true,
      }).done(function (data) {
        $("#camera_image_and_setup").html(data.message_cam);
        $("#camera_setups").html(data.message_set);
        console.log(data);
      });
      
      event.preventDefault();
    });
  
  //------------------------------------------
    $("#gain").submit(function (event) {
      
      var text_gain = $("#text_gain").val();
      $.ajax({
        type: "POST",
        url: "/gain",
        data: {text_gain:text_gain},
        dataType: "json",
        encode: true,
      }).done(function (data) {
        $("#camera_image_and_setup").html(data.message_cam);
        $("#camera_setups").html(data.message_set);
        console.log(data);
      });
  
      event.preventDefault();
    });
  
  //------------------------------------------
    $("#blacklevel").submit(function (event) {
      
      var text_blacklevel = $("#text_blacklevel").val();
      $.ajax({
        type: "POST",
        url: "/blacklevel",
        data: {text_blacklevel:text_blacklevel},
        dataType: "json",
        encode: true,
      }).done(function (data) {
        $("#camera_image_and_setup").html(data.message_cam);
        $("#camera_setups").html(data.message_set);
        console.log(data);
      });
      
      event.preventDefault();
    });
  
  });
  </script>