{% extends "base.html" %}
{% block title %}
Control
{% endblock %}

{% block content%}

<div class="page">

  <!----------Camera, Robot Control and Connections----------->
  <div style="display: flex;">

    <!----------Camera----------->
    <div class="card" style="width: 56%;">

    
      <div class="card-header"> <b>Real-Time Display Basler Camera </b></div>
        <div class="card-body" id="camera_image_and_setup">
          <div style="display: flex;">
            <p><b>Camera &nbsp&nbsp&nbsp</b>
              <button id="camera_on" onclick=camera_on()>On</button>
              <button id="camera_off" onclick=camera_off()>Off</button>
          </div>
        </div>
      <div class="card-footer"></div>
    </div>
    
    <!----------Robot Control----------->
    <div class="card" style="width: 29%;">

    
      <div class="card-header"><b>Robot Control</b></div>
        <div class="card-body">

          <div style="display: flex;">
            <p><b>X axis &nbsp&nbsp&nbsp</b>
              <button onclick=left()>&#9665</button> <button onclick=right()>&#9655</button>
            <form method="POST" action="" id="x_increment" name="x_increment">
              <input type="text" name="text_x_increment" id="text_x_increment" style="width: 60px"/>
              <input type="submit" value="Change" /></p>
            </form>
            <input type="checkbox" id="manual_x" onclick=manual_x()>
          </div>

          <div style="display: flex;">
            <p><b>Y axis &nbsp&nbsp&nbsp</b>
            <!-- <button onclick=home_y()>&#8962</button> -->
             <button onclick=up()>&#9665</button> <button onclick=down()>&#9655</button>
            <form method="POST" action="" id="y_increment" name="y_increment">
              <input type="text" name="text_y_increment" id="text_y_increment" style="width: 60px"/>
              <input type="submit" value="Change" /></p>
            </form>
            <input type="checkbox" id="manual_y" onclick=manual_y()>
          </div>

          <div style="display: flex;">
            <p><b>Z axis &nbsp&nbsp&nbsp</b>
            <button onclick=Zup()>&#9651</button> <button onclick=Zdown()>&#9661</button>
            <form method="POST" action="" id="z_increment" name="z_increment">
              <input type="text" name="text_z_increment" id="text_z_increment" style="width: 60px"/>
              <input type="submit" value="Change" /></p>
            </form>
          </div>

          <div style="display: flex;">
            <p><b>Rot 1 &nbsp&nbsp&nbsp&nbsp</b>
            <button onclick=rot_anticlock()>&#10559</button> <button onclick=rot_clock()>&#10558</button>
            <form method="POST" action="" id="rot1_increment" name="rot1_increment">
              <input type="text" name="text_rot1_increment" id="text_rot1_increment" style="width: 60px"/>
              <input type="submit" value="Change" /></p>
            </form>
          </div>

          <div style="display: flex;">
            <p><b>Rot 2 &nbsp&nbsp&nbsp&nbsp</b>
            <button onclick=Z_rot_anticlock()>&#10559</button> <button onclick=Z_rot_clock()>&#10558</button>
            <form method="POST" action="" id="rot2_increment" name="rot2_increment">
              <input type="text" name="text_rot2_increment" id="text_rot2_increment" style="width: 60px"/>
              <input type="submit" value="Change" /></p>
            </form>
          </div>

          <div style="display: flex;">
            <p><b>R axis &nbsp&nbsp&nbsp</b>
            <button onclick=stab_in()>&#9665</button> <button onclick=stab_out()>&#9655</button>
            <form method="POST" action="" id="stab_increment" name="stab_increment">
              <input type="text" name="text_stab_increment" id="text_stab_increment" style="width: 60px"/>
              <input type="submit" value="Change" /></p>
            </form>

            <input type="checkbox" id="manual_stab" onclick=manual_stab()>
          </div>

        </div>
      <div class="card-footer"></div>
    </div>

    <!----------Connections----------->
    <div class="card" style="width: 15%;">
      <div class="card-header"><b>Connections</b></div>
        <div class="card-body" id="connection">
            {% if x_connect %}
              <p> <span style="font-size: 25px; color:green;">&#8226</span> <span>X Axis</span></p>
            {% else %}
              <p> <span style="font-size: 25px; color:red;">&#8226</span> <span>X Axis</span></p>
            {% endif %}
            {% if y_connect %}
              <p> <span style="font-size: 25px; color:green;">&#8226</span> <span>Y Axis</span></p>
            {% else %}
            <p> <span style="font-size: 25px; color:red;">&#8226</span> <span>Y Axis</span></p>
            {% endif %}
            {% if z_connect %}
              <p> <span style="font-size: 25px; color:green;">&#8226</span> <span>Z Axis</span></p>
            {% else %}
              <p> <span style="font-size: 25px; color:red;">&#8226</span> <span>Z Axis</span></p>
            {% endif %}
            {% if rot_connect %}
              <p> <span style="font-size: 25px; color:green;">&#8226</span> <span>Rotation 1 Axis</span></p>
            {% else %}
              <p> <span style="font-size: 25px; color:red;">&#8226</span> <span>Rotation 1 Axis</span></p>
            {% endif %}
            {% if rot2_connect %}
              <p> <span style="font-size: 25px; color:green;">&#8226</span> <span>Rotation 2 Axis</span></p>
            {% else %}
              <p> <span style="font-size: 25px; color:red;">&#8226</span> <span>Rotation 2 Axis</span></p>
            {% endif %}
            {% if stab_connect %}
              <p> <span style="font-size: 25px; color:green;">&#8226</span> <span>R Axis</span></p>
            {% else %}
              <p> <span style="font-size: 25px; color:red;">&#8226</span> <span>R Axis</span></p>
            {% endif %}
            {% if laser_connect %}
              <p> <span style="font-size: 25px; color:green;">&#8226</span> <span>Laser</span></p>
            {% else %}
              <p> <span style="font-size: 25px; color:red;">&#8226</span> <span>Laser</span></p>
            {% endif %}
            {% if astrapi_connect %}
              <p> <span style="font-size: 25px; color:green;">&#8226</span> <span>Electroshocker</span></p>
            {% else %}
              <p> <span style="font-size: 25px; color:red;">&#8226</span> <span>Electroshocker</span></p>
            {% endif %}
        </div>
      <div class="card-footer"></div>
    </div>

  </div>

  <!----------Video and Camera Settings----------->
  <div style="display: flex;">

    <!----------Video Settings----------->
    <div class="card" style="width: 50%;">
      <div class="card-header"><b>Video Acquisition Settings</b></div>
      <div class="card-body">
          <table style="border: 2px solid;width: 100%;text-align: center;align-items: center;">

          <button id="take_image" onclick=take_image()>Take Image</button>
          <button id="take_video" onclick=take_video()>Take Video</button>
          <tr>
            <td style="border: 2px solid;">
              <p class="btn btn-secondary" style="width: 100%;">Video Time</p>
              <form method="POST" action="" id="video_time" name="video_time">
                  <input type="text" name="text_video_time" id="text_video_time" />
                  <input type="submit" value="Change" />
              </form>
            </td>
            <td style="border: 2px solid;">
              <p class="btn btn-secondary" style="width: 100%;">Video FPS</p>
              <form method="POST" action="" id="video_fps" name="video_fps">
                  <input type="text" name="text_video_fps" id="text_video_fps" />
                  <input type="submit" value="Change" />
              </form>
            </td>
          </tr>
        </table>
      </div> 
      <div class="card-footer"></div>
    </div>

    <!----------Camera Settings----------->
    <div class="card" style="width: 50%;">
      <div class="card-header"><b>Camera Settings</b></div>
        <div class="card-body", id="camera_setups">
          <table style="border: 2px solid;width: 100%;text-align: center;align-items: center;">
            <tr>
              <td style="border: 2px solid;">
                <p class="btn btn-secondary" style="width: 100%;">Exposure</p>
                Current : {{ current_exp}}
                Max : {{max_exposure}} 
                Min : {{min_exposure}}
                <form method="POST" action="" id="exposure" name="exposure">
                    <input type="text" name="text_exposure" id="text_exposure" />
                    <input type="submit" value="Change" />
                </form>
              </td>

              <td style="border: 2px solid;">
                <p class="btn btn-secondary" style="width: 100%;">Gain</p>
                Current : {{ current_g}}
                Max : {{max_g}} 
                Min : {{min_g}}
                <form method="POST" action="" id="gain" name="gain">
                    <input type="text" name="text_gain" id="text_gain" />
                    <input type="submit" value="Change" />
                </form>
              </td> 
            </tr>

            <tr>
              <td style="border: 2px solid;">
                <p class="btn btn-secondary" style="width: 100%;">BlackLevel</p>
                Current : {{ current_b}}
                Max : {{max_b}} 
                Min : {{min_b}}
                <form method="POST" action="" id="blacklevel" name="blacklevel">
                    <input type="text" name="text_blacklevel" id="text_blacklevel" />
                    <input type="submit" value="Change" />
                </form>
              </td>
              <td style="border: 2px solid;">
                <p class="btn btn-secondary" style="width: 100%;">Gamma</p>
                Current : {{ current_gamma}}
                Max : {{max_gamma}} 
                Min : {{min_gamma}}
                <form method="POST" action="" id="gamma" name="gamma">
                    <input type="text" name="text_gamma" id="text_gamma" />
                    <input type="submit" value="Change" />
                </form>
              </td>
            </tr>
          </table>
        </div> 
      <div class="card-footer"></div>
    </div>
  
  </div>


  <!----------Probes and Settings----------->
  <div style="display: flex;">

    <!----------Electroshocker (Astrapi) Probe and Settings----------->
    <div class="card" style="width: 50%;">
      <div class="card-header"><b>Electroshocker Settings</b></div>
      <div class="card-body">
          <table style="border: 2px solid;width: 100%;text-align: center;align-items: center;">
            <tr>
              <td>
                <button id="astrapi_on" onclick=astrapi_on()>Electroshocker On</button>
                <button id="astrapi_off" onclick=astrapi_off()>Electroshocker Off</button>
              </td>
              <td style="border: 2px solid;">
                <p class="btn btn-secondary" style="width: 100%;">Electroshocker Total Time On</p>
                <form method="POST" action="" id="astrapi_total_time_on" name="astrapi_total_time_on">
                  <input type="text" name="text_astrapi_total_time_on" id="text_astrapi_total_time_on"/>
                  <input type="submit" value="Change" /></p>
                </form>
              </td>
            </tr>
            <tr>
              <td style="border: 2px solid;">
                <p class="btn btn-secondary" style="width: 100%;">Electroshocker Time On</p>
                <form method="POST" action="" id="astrapi_time_on" name="astrapi_time_on">
                  <input type="text" name="text_astrapi_time_on" id="text_astrapi_time_on"/>
                  <input type="submit" value="Change" /></p>
                </form>
              </td>
              <td style="border: 2px solid;">
                <p class="btn btn-secondary" style="width: 100%;">Electroshocker Time Off</p>
                <form method="POST" action="" id="astrapi_time_off" name="astrapi_time_off">
                  <input type="text" name="text_astrapi_time_off" id="text_astrapi_time_off"/>
                  <input type="submit" value="Change" /></p>
                </form>
              </td>
            </tr>
        </table>
      </div> 
      <div class="card-footer"></div>
    </div>

    <!----------Laser Probe and Settings----------->
    <div class="card" style="width: 50%;">
      <div class="card-header"><b>Laser Settings</b></div>
        <div class="card-body">
          <table>
            <tr>
              <td>
                <button id="laser_on" onclick=laser_on()>Laser On</button>
                <button id="laser_off" onclick=laser_off()>Laser Off</button>
              </td>
              <td style="border: 2px solid;">
                <p class="btn btn-secondary" style="width: 100%;">Laser Total Time On</p>
                <form method="POST" action="" id="laser_total_time_on" name="laser_total_time_on">
                  <input type="text" name="text_laser_total_time_on" id="text_laser_total_time_on"/>
                  <input type="submit" value="Change" /></p>
                </form>
              </td>
            </tr>
            <tr>
              <td style="border: 2px solid;">
                <p class="btn btn-secondary" style="width: 100%;">Laser Time On</p>
                <form method="POST" action="" id="laser_time_on" name="laser_time_on">
                  <input type="text" name="text_laser_time_on" id="text_laser_time_on"/>
                  <input type="submit" value="Change" /></p>
                </form>
              </td>
              <td style="border: 2px solid;">
                <p class="btn btn-secondary" style="width: 100%;">Laser Time Off</p>
                <form method="POST" action="" id="laser_time_off" name="laser_time_off">
                  <input type="text" name="text_laser_time_off" id="text_laser_time_off"/>
                  <input type="submit" value="Change" /></p>
                </form>
              </td>
            </tr>
          </table>
        </div>
      <div class="card-footer"></div>
    </div>

  </div>


</div>




<!-- -----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------- -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script 
  src="https://code.jquery.com/jquery-3.5.1.min.js" 
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
  crossorigin="anonymous"
></script>



<!-- -----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------- -->
<!----------Connections----------->
<script>
    window.setInterval(function(){
        loadConnection()
    }, 7000)

function loadConnection(){
    $.post("/_checkconnect/", $(this).serialize())
      .done(function(data) {
            $("#connection").html(data.message);
      })
      .fail(function() {
        $("#connection").html("An error has occurred.");
      });
    }
</script>


<!-- -----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------- -->
<!----------Robot Movement----------->

<script type="text/javascript">

function home_x() {
  $.post("/home_x/", $(this).serialize())
}

function left() {
  $.post("/_left/", $(this).serialize())
}
function right() {
  $.post("/_right/", $(this).serialize())
}

function home_y() {
  $.post("/home_y/", $(this).serialize())
}

function up() {
  $.post("/_up/", $(this).serialize())
}
function down() {
  $.post("/_down/", $(this).serialize())
}

function Zup() {
  $.post("/_Zup/", $(this).serialize())
}
function Zdown() {
  $.post("/_Zdown/", $(this).serialize())
}

function rot_clock() {
  $.post("/_rot_clock/", $(this).serialize())
}
function rot_anticlock() {
  $.post("/_rot_anticlock/", $(this).serialize())
}

function Z_rot_clock() {
  $.post("/_Z_rot_clock/", $(this).serialize())
}
function Z_rot_anticlock() {
  $.post("/_Z_rot_anticlock/", $(this).serialize())
}

function stab_out() {
  $.post("/_stab_out/", $(this).serialize())
}
function stab_in() {
  $.post("/_stab_in/", $(this).serialize())
}

function shutter_close() {
  $.post("/_shutter_close/", $(this).serialize())
}

function shutter_open() {
  $.post("/_shutter_open/", $(this).serialize())
}

</script>


<!----------Axis Manual or Automatic----------->

<script>

function manual_x() {
  // Get the checkbox
  var checkBox = document.getElementById("manual_x");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    $.post("/automatic_x/", $(this).serialize())
  } else {
    $.post("/manual_x/", $(this).serialize())
  }
}

function manual_y() {
  // Get the checkbox
  var checkBox = document.getElementById("manual_y");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    $.post("/automatic_y/", $(this).serialize())
  } else {
    $.post("/manual_y/", $(this).serialize())
  }
} 

function manual_stab() {
  // Get the checkbox
  var checkBox = document.getElementById("manual_stab");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    $.post("/automatic_stab/", $(this).serialize())
  } else {
    $.post("/manual_stab/", $(this).serialize())
  }
} 

</script>


<!-- -----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------- -->
<!----------Robot Increment Size of Movement----------->

<script>
  $(document).ready(function () {
    $("#x_increment").submit(function (event) {
      var text_x_increment = $("#text_x_increment").val();
      $.ajax({
        type: "POST",
        url: "/x_increment",
        data: {text_x_increment:text_x_increment},
        dataType: "json",
        encode: true,
      }).done(function (data) {
        console.log(data);
      });
      event.preventDefault();
    });
  
    $("#y_increment").submit(function (event) {
      var text_y_increment = $("#text_y_increment").val();
      $.ajax({
        type: "POST",
        url: "/y_increment",
        data: {text_y_increment:text_y_increment},
        dataType: "json",
        encode: true,
      }).done(function (data) {
        console.log(data);
      });
      event.preventDefault();
      });
  
    $("#z_increment").submit(function (event) {
      var text_z_increment = $("#text_z_increment").val();
      $.ajax({
        type: "POST",
        url: "/z_increment",
        data: {text_z_increment:text_z_increment},
        dataType: "json",
        encode: true,
      }).done(function (data) {
        console.log(data);
      });
      event.preventDefault();
    });
  
    $("#rot1_increment").submit(function (event) {
      var text_rot1_increment = $("#text_rot1_increment").val();
      $.ajax({
        type: "POST",
        url: "/rot1_increment",
        data: {text_rot1_increment:text_rot1_increment},
        dataType: "json",
        encode: true,
      }).done(function (data) {
        console.log(data);
      });
      event.preventDefault();
    });
  
    $("#rot2_increment").submit(function (event) {
      var text_rot2_increment = $("#text_rot2_increment").val();
      $.ajax({
        type: "POST",
        url: "/rot2_increment",
        data: {text_rot2_increment:text_rot2_increment},
        dataType: "json",
        encode: true,
      }).done(function (data) {
        console.log(data);
      });
      event.preventDefault();
    });
  
    $("#stab_increment").submit(function (event) {
      var text_stab_increment = $("#text_stab_increment").val();
      $.ajax({
        type: "POST",
        url: "/stab_increment",
        data: {text_stab_increment:text_stab_increment},
        dataType: "json",
        encode: true,
      }).done(function (data) {
        console.log(data);
      });
      event.preventDefault();
    });
  
  });
  </script>
  

<!-- -----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------- -->
<!----------Probes----------->

<script>
function laser_on() {
  $.post("/laser_on", $(this).serialize())
    .done(function(data) {
      $("#response").append(data.message);
      var objDiv = document.getElementById("response");
      objDiv.scrollTop = objDiv.scrollHeight;
    })
    .fail(function() {
      $("#response").append("An error has occurred.");
    });
}

function laser_off() {
  $.post("/laser_off", $(this).serialize())
    .done(function(data) {
      $("#response").append(data.message);
      var objDiv = document.getElementById("response");
      objDiv.scrollTop = objDiv.scrollHeight;
    })
    .fail(function() {
      $("#response").append("An error has occurred.");
    });
}


function astrapi_on() {
  $.post("/astrapi_on", $(this).serialize())
    .done(function(data) {
      $("#response").append(data.message);
      var objDiv = document.getElementById("response");
      objDiv.scrollTop = objDiv.scrollHeight;
    })
    .fail(function() {
      $("#response").append("An error has occurred.");
    });
}

function astrapi_off() {
  $.post("/astrapi_off", $(this).serialize())
    .done(function(data) {
      $("#response").append(data.message);
      var objDiv = document.getElementById("response");
      objDiv.scrollTop = objDiv.scrollHeight;
    })
    .fail(function() {
      $("#response").append("An error has occurred.");
    });
}
</script>


<script>
$(document).ready(function () {
  $("#astrapi_total_time_on").submit(function (event) {
    var text_astrapi_total_time_on = $("#text_astrapi_total_time_on").val();
    $.ajax({
      type: "POST",
      url: "/astrapi_total_time_on",
      data: {text_astrapi_total_time_on:text_astrapi_total_time_on},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log(data);
    });
    event.preventDefault();
  });

  $("#astrapi_time_on").submit(function (event) {
    var text_astrapi_time_on = $("#text_astrapi_time_on").val();
    $.ajax({
      type: "POST",
      url: "/astrapi_time_on",
      data: {text_astrapi_time_on:text_astrapi_time_on},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log(data);
    });
    event.preventDefault();
  });

  $("#astrapi_time_off").submit(function (event) {
    var text_astrapi_time_off = $("#text_astrapi_time_off").val();
    $.ajax({
      type: "POST",
      url: "/astrapi_time_off",
      data: {text_astrapi_time_off:text_astrapi_time_off},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log(data);
    });
    event.preventDefault();
  });

});



$(document).ready(function () {
  $("#laser_total_time_on").submit(function (event) {
    var text_laser_total_time_on = $("#text_laser_total_time_on").val();
    $.ajax({
      type: "POST",
      url: "/laser_total_time_on",
      data: {text_laser_total_time_on:text_laser_total_time_on},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log(data);
    });
    event.preventDefault();
  });

  $("#laser_time_on").submit(function (event) {
    var text_laser_time_on = $("#text_laser_time_on").val();
    $.ajax({
      type: "POST",
      url: "/laser_time_on",
      data: {text_laser_time_on:text_laser_time_on},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log(data);
    });
    event.preventDefault();
  });

  $("#laser_time_off").submit(function (event) {
    var text_laser_time_off = $("#text_laser_time_off").val();
    $.ajax({
      type: "POST",
      url: "/laser_time_off",
      data: {text_laser_time_off:text_laser_time_off},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log(data);
    });
    event.preventDefault();
  });

});
</script>


<!-- -----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------- -->
<!----------Camera----------->

<script>
function camera_on(){
    $.post("/_camera_on/", $(this).serialize())
      .done(function(data) {
            $("#camera_image_and_setup").html(data.message_cam);
            $("#camera_setups").html(data.message_set);
      })
      .fail(function() {
        $("#camera_image_and_setup").html("An error has occurred.");
        $("#camera_setups").html("An error has occurred.");

      });
    }

function camera_off(){
    $.post("/_camera_off/", $(this).serialize())
      .done(function(data) {
            $("#camera_image_and_setup").html(data.message_cam);
            $("#camera_setups").html(data.message_set);
      })
      .fail(function() {
        $("#camera_image_and_setup").html("An error has occurred.");
        $("#camera_setups").html("An error has occurred.");

      });
    }

function take_image() {
  $.post("/take_image", $(this).serialize())
    .done(function(data) {
      $("#response").append(data.message);
      var objDiv = document.getElementById("response");
      objDiv.scrollTop = objDiv.scrollHeight;
    })
    .fail(function() {
      $("#response").append("An error has occurred.");
    });
}

function take_video() {
  $.post("/take_video", $(this).serialize())
    .done(function(data) {
      $("#response").append(data.message);
      var objDiv = document.getElementById("response");
      objDiv.scrollTop = objDiv.scrollHeight;
    })
    .fail(function() {
      $("#response").append("An error has occurred.");
    });
}


$(document).ready(function () {
  $("#video_time").submit(function (event) {
    var text_video_time = $("#text_video_time").val();
    $.ajax({
      type: "POST",
      url: "/video_time",
      data: {text_video_time:text_video_time},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log(data);
    });

    event.preventDefault();
  });


  $("#video_fps").submit(function (event) {
  var text_video_fps = $("#text_video_fps").val();
  $.ajax({
    type: "POST",
    url: "/video_fps",
    data: {text_video_fps:text_video_fps},
    dataType: "json",
    encode: true,
  }).done(function (data) {
    console.log(data);
  });

  event.preventDefault();
  });
});
</script>


<script>
$(document).ready(function () {
  $("#exposure").submit(function (event) {

    var text_exposure = $("#text_exposure").val();
    $.ajax({
      type: "POST",
      url: "/exposure",
      data: {text_exposure:text_exposure},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      $("#camera_image_and_setup").html(data.message_cam);
      $("#camera_setups").html(data.message_set);
      console.log(data);
    });

    event.preventDefault();
  });

//------------------------------------------
  $("#gamma").submit(function (event) {
    
    var text_gamma = $("#text_gamma").val();
    $.ajax({
      type: "POST",
      url: "/gamma",
      data: {text_gamma:text_gamma},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      $("#camera_image_and_setup").html(data.message_cam);
      $("#camera_setups").html(data.message_set);
      console.log(data);
    });
    
    event.preventDefault();
  });

//------------------------------------------
  $("#gain").submit(function (event) {
    
    var text_gain = $("#text_gain").val();
    $.ajax({
      type: "POST",
      url: "/gain",
      data: {text_gain:text_gain},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      $("#camera_image_and_setup").html(data.message_cam);
      $("#camera_setups").html(data.message_set);
      console.log(data);
    });

    event.preventDefault();
  });

//------------------------------------------
  $("#blacklevel").submit(function (event) {
    
    var text_blacklevel = $("#text_blacklevel").val();
    $.ajax({
      type: "POST",
      url: "/blacklevel",
      data: {text_blacklevel:text_blacklevel},
      dataType: "json",
      encode: true,
    }).done(function (data) {
      $("#camera_image_and_setup").html(data.message_cam);
      $("#camera_setups").html(data.message_set);
      console.log(data);
    });
    
    event.preventDefault();
  });

});
</script>


<!-- -----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------- -->



{% endblock %}